{{!
@template block_evasys_sync/block
Example context (json):
{
}
}}
<div class="pl-5" data-evasys-lsfid="{{lsfid}}">
    <h4 class="mb-3 mt-4">{{#str}}evaluationperiod_for, block_evasys_sync, {{coursename}}{{/str}}</h4>
    {{{html}}}
</div>
